    <!-- Popup Modal -->
    <div class="popup-overlay hidden fixed inset-0 bg-gray-900 bg-opacity-50 flex justify-center items-center">
        <div class="popup-content bg-light-200 dark:bg-navy-200 rounded-lg shadow-lg p-5 w-80 text-center">
            <p class="mb-4 pt-10 pb-5">Thank you for conneting us we will infrom you soon</p>
            <button class="close-popup bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                Close
            </button>
        </div>
    </div>